
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Montserrat:wght@100&display=swap");
.imgLogo {
    -webkit-filter: invert(1);
            filter: invert(1);
            width: 50%;    
  }
  .letraLogo {
    font-family: 'Montserrat', sans-serif;  
    font-weight: bold;
    margin-bottom: 0vh;
    margin-left:2vh
  }


.opcionesMenu
  {
  font-family: 'Montserrat', sans-serif;    
  font-weight: bold;      
  font-size: 1rem;  
  }

  .nroCarrito
  {
    color:white;
    font-size: 0.85rem;
  }